$light: rgb(255, 233, 233);

body {
    font-family: 'Oswald', sans-serif;
}

div[class*="navbar-collapse"] {
    justify-content: flex-end;
}

.navbar-nav {
    a:hover {
        border-bottom: 1px solid $light;
    }
}

.container-heroSection {
    min-height: 350px + 350px;
    background-position: center;
    background-size: cover;
    position:relative;
    height: 100%;
    width: 100%;

    h1 {
        font-size: 5rem;
        color: $light;
    }
}

#firstPageBg {
    background-image: url(../photos/oulu.jpg);
}
#scndPageBg {
    background-image: url(../photos/ouluB.jpg);
}
#thirdPageBg {
    background-image: url(../photos/ouluC.jpg);
}
#heroSection {
    text-align: center;
    font-size: 2rem;
}

.container-content {
    height: fit-content;
    min-height: 900px;

    .statsAccordion {
        position: absolute;
    }
    .text-area {
        text-align: center;
    }

    #infoContainer {
        width: fit-content !important;

        > * {
            width: 300px;
        }
    }

    .pageBtns {
        width: 40%;
        height: 70px;
    }

    h1 {
        font-size: 3rem;
        text-align:center;
    }
}


.blurry-bg {
    height: 50px;
    filter: blur(100px);
    width: 100%;
    background: rgb(17,141,218);
    background: linear-gradient(90deg, rgba(17,141,218,1) 0%, rgba(10,98,154,1) 100%);
}


.scrollUpBtn {
    height: 50px;
    width: fit-content;

    ion-icon {
        color: $light;
        height: 40px;
        width: 50px;    
    }

}

.container-footer {
    min-height: 100px;
    position: relative;

    .btnLinks {
        width: fit-content;
    }
    ion-icon {
        min-height: 30px; 
        min-width: 30px;  
    }
}

.card {
    width: 250px;
    border-radius: 8px;

    .card-title {
        text-align: center;
    }
}


#btnShow {
    animation-name: btnAnimation;
    animation-duration: 3s;
}

@keyframes btnAnimation {

    from {
        opacity: 0%;
    }
    to {
       opacity: 100%;
    }
}


@media (max-width: 957px) {

    .text-area {
        padding: 0px !important;
    }
    #sendBtn {
        width: 100%;
    }
}

@media (max-width: 766px) 
{
    .container-content {
        .pageBtns {
            width: 100%;
        }
        .statsAccordion {
            position: static;
        }
    }
}